* 
{
    margin: 5;
    padding: 0;
    box-sizing: border-box;
}
header > h1 {
    color: white;
    font-size: 50px;
    text-align: center;
    font-family: Asap, sans-serif;
}
header > h3 {
    color: white;
    font-size: 25px;
    text-align: center;
    font-family: Asap, sans-serif;
    font-style: italic;
}

body {
    display: flex;
    justify-content:center;
    min-height: 100vh;
    background: #222222;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding: 1rem;
}

.middle {
    display: flex;
    align-items: center;
    gap: 2rem;
}


.instruction-container {
    position: absolute;
    height: 200px;  /* Adjust based on your longest text */
    width: 300px;   /* Adjust as needed */
}

.text {
    font-family: monospace;
    white-space: pre-wrap;
    transition: opacity 0.3s;
    color: white;
    display: block;
}

.control-panel {
    position: relative;
    padding: 5px;
    background: white;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 5px 10px;
    margin: 5px;
    background: #4CAF50;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}


.loader {
    position: relative;
    width: 4px;
    height: 100px;
    background: #000;
}
.loader::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgb(217, 3, 3);
    transform-origin: bottom;
    animation: animate 4s linear infinite;
}
@keyframes animate {
    0%, 20% {
        transform: scaleY(0);
    }
    40% {
        transform: scaleY(1);
        transform-origin: bottom;

    }
    40.000001%, 60% {
        transform: scaleY(1);
        transform-origin: top;
    }
    80%, 100% {
        transform: scaleY(0);
        transform-origin: top;
    }
}
.loader::after {
    content: '';
    position: absolute;
    top: 100%;
    transform: translateX(-100%) scale(0);
    width: 2px;
    height: 2px;
    background: rgb(217, 3, 3);
    border-radius: 50%;
    animation: animateDot 4s linear infinite;
}
@keyframes animateDot {
    0% {
            transform: translateX(-100%) scale(0);
    }
    5% {
        transform: translateX(-100%) scale(1);
    }
    15%, 20% {
        transform: translateX(-100%) scale(1);
        box-shadow: 0 0 0 4px rgb(139, 0, 0),
        0 0 0 5px rgb(139, 0, 0),
        0 0 10px rgb(217, 3, 3),
        0 0 20px 2px rgb(217, 3, 3),
        0 0 30px 5px rgb(217, 3, 3);
    }
    40% {
        transform: translateX(-100%) scale(1) translateY(-100px);
    }
    80% {
        transform: translateX(-100%) scale(1) translateY(-100px);
        box-shadow: 0 0 0 4px rgb(139, 0, 0),
        0 0 0 5px rgb(139, 0, 0),
        0 0 10px rgb(217, 3, 3),
        0 0 20px 5px rgb(217, 3, 3),
        0 0 30px 10px rgb(217, 3, 3);
    }
    95% {
        transform: translateX(-100%) scale(1) translateY(-100px);
        box-shadow: none;    
    }
    100% {
        transform: translateX(-100%) scale(0) translateY(-100px);
    }
}
