@import "tailwindcss";
@import "tailwindcss-primeui";

/* Vue Flow styles */
@import '@vue-flow/core/dist/style.css';
@import '@vue-flow/core/dist/theme-default.css';

/* Background for UI related items */
@utility bg-surface-ui {
    background-color: var(--p-surface-200);
    @variant dark {
        background-color: var(--p-surface-800);
    }
}

/* Used for node SVGs. This doesn't need to be a Tailwind utility. */
:root {
    --vf-node-color: var(--color-surface-700);
}
.node-bg {
    /* Positioning */
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    /* Coloring */
    fill: var(--vf-node-bg);
    stroke-width: 1px;
    stroke: var(--vf-node-color);
    /* Overflow */
    overflow: visible;
}